---
interface Props {
	title: string;
}

const { title } = Astro.props;
const isProd =import.meta.env.PROD;
const googleTagManager = "https://www.googletagmanager.com/gtag/js?id=G-X8CLSNHC1C"
const googleTagSource = isProd ? googleTagManager : ""

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Precio del dolar blue, dolar oficial y Bitcoin actualizado en tiempo real." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script async src={googleTagSource}></script> 
		<script>

			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-X8CLSNHC1C');
		</script>
	</head>
	<body class="bg-slate-900 min-h-screen h-full max-w-container ">
		<main class="min-h-screen max-w-container text-white">
			<slot />
		</main>
	</body>
</html>
