---
import Layout from '../layouts/Layout.astro';
import UsdIcon from '../components/icons/UsdIcon.astro';
import PesoIcon from '../components/icons/PesoIcon.astro';
import BtcIcon from '../components/icons/BtcIcon.astro';
import Title from '../components/Title.astro';
import Footer from '../components/Footer.astro';
import { Graph } from '../components/Graph/Graph';
import Price from '../components/Price.astro';

---


<Layout title="BitcoinDolarHoy">
	<div class="
		max-w-[1200px] mx-auto 
		flex 
		flex-col  
		min-h-screen
		px-4 
		pt-16 
		h-full 
		sm:px-6 
		lg:px-8 
		lg:pt-20
		justify-start
		"
	>
		<Title />
		<div class="grid my-16 grid-cols-2 sm:grid-cols-2 md:grid-cols-4 md:gap-x-0 lg:gap-y-0 lg:gap-x-8">
			<Price name='US Dollar' price={1}><UsdIcon/></Price>
			<Price name='Peso' price={720}><PesoIcon /></Price>
			<Price name='Bitcoin USD' price={26000}> <BtcIcon/></Price>
			<Price name='Bitcoin (Pesos)' price={26000 * 720}><BtcIcon/></Price>
		</div>
		<Graph client:only="react" />
		<Footer />
	</div>
</Layout>