---
import Layout from '../layouts/Layout.astro';
import UsdIcon from '../components/icons/UsdIcon.astro';
import PesoIcon from '../components/icons/PesoIcon.astro';
import BtcIcon from '../components/icons/BtcIcon.astro';
import Title from '../components/Title.astro';
import Footer from '../components/Footer.astro';
import { Graph } from '../components/Graph/Graph';
import Price from '../components/Price.astro';

import lastUpdateJson from '../last_update.json';


let {precio_usd_blue_compra, precio_usd_blue_venta, precio_usd_oficial_venta, precio_usd_oficial_compra, date} = lastUpdateJson;
const precioUsdBlueCompra = Number(precio_usd_blue_compra)
const precioUsdOficialCompra = Number(precio_usd_oficial_venta)
---


<Layout title="BitcoinDolarHoy">
	<div class="max-w-[1200px] mx-auto flex flex-col min-h-screen px-4 pt-16 h-full	sm:px-6 lg:px-8 lg:pt-20 justify-start">
		<Title />
		<div class="grid my-16 grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-5 md:gap-x-0 lg:gap-y-0 ">
			<Price name='Peso' price={1}><UsdIcon/></Price>
			<Price name='D贸lar (Oficial)' price={precioUsdOficialCompra}><PesoIcon /></Price>
			<Price name='D贸lar (Blue)' price={precioUsdBlueCompra}><PesoIcon /></Price>
			<Price name='Bitcoin (D贸lar Oficial)' price={25090 * precioUsdOficialCompra}> <BtcIcon/></Price>
			<Price name='Bitcoin (D贸lar Blue)' price={25090 * precioUsdBlueCompra}><BtcIcon/></Price>
		</div>
		<Graph client:only="react" />
		<Footer date={date} />
	</div>
</Layout>