<footer class="flex flex-col grow w-full mt-4 p-4 justify-end ">
  <span class="block text-sm text-gray-500 text-center dark:text-gray-400">
    Si queres poner un cartel publicitario 
    <a href="https://e0492u5avbr.typeform.com/to/AqnQjfAV" class="hover:underline" target="_blank">
      contactanos
    </a>
  </span>
</footer>