---
interface Props {
  date: string
}

const { date } = Astro.props
---

<footer class="flex flex-col grow w-full mt-4 p-4 justify-end">
  <span class="block text-sm text-gray-500 text-center dark:text-gray-400">
    Si quieres poner un cartel publicitario, 
    <a href="https://e0492u5avbr.typeform.com/to/AqnQjfAV" class="text-gray-400 underline  hover:text-gray-200" target="_blank">
      contáctanos.
    </a>
  </span>
  <span class="text-center text-sm text-gray-500">
    Ultima actualizacion: {date}
  </span>
</footer>